// bower:scss
@import "lato-webfont/scss/lato-webfont.scss";
// endbower

$primaryColor: #00b5ad;
$font: 'Lato', sans-serif !important;

$color0: #444444;
$color1: #4F4F4F; // header, titles
$color1text: #FFF; // header, titles
$color2: #0079B4; // header bottom

$color3: #dcecf5; // code color
$color4: #000; // code text
$color5: #0B5C99; // code helper
$color5text: #FFF;
$color6: #F9F9F9; // left col background

html, body {
	height: 100%;
	// overflow: hidden;
	background-color: '#FFF';
	color: #000;
	font-family: $font;
	font-weight: 400;
	font-size: 13px;
	width: 100%;
	margin: auto;
}

svg  {
	// border: 1px dotted #626262;
	background-color: #FFF;
}

#embedtext {
	-webkit-touch-callout: initial !important;
    -webkit-user-select: initial !important;
    -khtml-user-select: initial !important;
    -moz-user-select: initial !important;
    -ms-user-select: initial !important;
    user-select: initial !important;
    cursor: text;

}



#svgContainer0, #svgContainer {
	background-color: #FFF;
	height: auto;
	width: 100%;
	margin: auto;
	display: block;
  // border: 20px solid grey;
  // max-width: 1200px;
  ;
}

#mapsvg {
	// border: 1px solid green;
}

#svgContainerId {
	opacity: 0.6;
	position: absolute; 
	top: 0px; 
	z-index: 1000; 
	left: 0px;
	background-color: $color5;
	color: $color5text;
	padding: 1px 5px 0px 5px;
	font-size: 12px;
	border-radius: 0px 0px 5px 0px;
	border-right: 1px dotted #000;
	border-bottom: 1px dotted #000;
}

@media print {

	#interactiveLink {
		opacity: 1 !important;
	}

	#printDate {
		opacity: 1 !important;
	}

	#dM {
		opacity: 0 !important;
	}

	#buttonLeft,
	#buttonRight,
	#zoomIn,
	#zoomOut,
	#zoomContainer {
		display: none;
	}
	#donate {
		display: none;
	}
}

#mapsvgzoomBox {

 }

#donate {
	cursor: pointer;
}

// tspan {
// 	font-family: calibri !important;
// 	// font-weight: bold;
// }
h2,h3,h4,h5 {
	font-family: $font;
	font-weight: 700;
}

h3 {
	font-size: 17px;
}

h4 { 
	font-size: 14px;
}
h9 {
	font-weight: normal;
	font-size: 12px;
	font-family: $font;
	color: #787878;
}

#header {
	position: fixed;
	top: 0px;
	height: 40px;
	background-color: yellow;
	width: 100%;
	z-index: 100;
	font-weight: normal !important;
}

#leftButton {
	position: absolute;
	z-index: 10;
	top: 50%;
	left: 10px;
	font-size: 50px;
	color: rgba(0,0,0,0.5);
	cursor:pointer;
	display: none;
}

#rightButton {
	position: absolute;
	z-index: 10;
	top: 50%;
	right: 10px;
	font-size: 50px;
	color: rgba(0,0,0,0.5);
	cursor:pointer;
	display: none;

}

#rightButton:hover{
	color: rgba(0,0,0,0.7);
}

#leftButton:hover{
	color: rgba(0,0,0,0.7);
}

#lWrapper {
	height: 100%;
	// background-color: $color6;
	padding: 40px 0px 18px 10px;
	width: 40%;
}

#lContent {
	height: 100%;
	width: 100%;
	overflow-y: auto;
	padding: 0px 5px;
	padding-right: 20px;
}

#rWrapper {
	border-left: 2px solid #848484;
	float: right;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	width: 60%;
	z-index: 1;
	padding: 40px 0px 18px 0px;
}

#rContent {
	height: 100%;
	width: 100%;
	padding: 10px;
	background-color: #DDDDDD;
}

#footer {
	position: fixed;
	bottom: 0px;
	height: 18px;
	background-color: #006d68;
	width: 100%;
	z-index: 100;
	color: #FFF;
	font-size: 10px;
	padding-top: 1px;
	padding-left: 5px;
}


#topLeftWrapper {
	background-color: transparent;
	padding: 33px 0px 18px 10px;
	width: 40%;
	position: absolute;
	left: 0px;
	z-index: 5;
	display: none;
}

#topLeftContent {
	width: 100%;
	overflow-y: hidden;
	padding: 0px 5px;
	padding-right: 20px;
}

#topRightWrapper {
	background-color: transparent;
	padding: 50px 0px 18px 10px;
	width: 700px;
	position: absolute;
	right: 0px;
	z-index: 5;
}

#topRightContent {
	width: 100%;
	overflow-y: hidden;
	padding: 0px 5px;
	padding-right: 20px;
	text-align: right;
	float: right;
}

#bottomLeftWrapper {
	// height: 50%;
	background-color: transparent;
	padding: 33px 0px 18px 10px;
	width: 45%;
	position: absolute;
	left: 0px;
	z-index: 5;
	bottom: 20px;
	display: none;
}

#bottomLeftContent {
	width: 100%;
	overflow-y: hidden;
	padding: 0px 5px;
	padding-right: 20px;
}

#bodyWrapper {
	border-left: 2px solid $color1;
	float: middle;
	// position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	width: 100%;
	z-index: 1;
	padding: 20px 0px 20px 0px;
}

.button { cursor: pointer}

#bodyContent {
	height: 100%;
	width: 100%;
}

#footer {
	position: fixed;
	bottom: 0px;
	height: 18px;
	background-color: #00b5ad;
	width: 100%;
	z-index: 100;
	color: #FFF;
	font-size: 10px;
	padding-top: 1px;
	padding-left: 5px;
}

#bubbleChartDiv {
	width: 100%;
	height: 310px;
	// background-color: rgba(255,255,255,0.7);
}

.total { border-spacing: 25px;
	border-collapse: separate;
	line-height: 1.3;
}

.total .total1 {
	// background-color: #333333;
	color: #851214;
	text-align: right;
	// border: 2px solid #FFF;
	padding: 1px 8px;
	font-weight: 700;
	font-family: $font;
	font-size: 45px;
}

.total .total1label {
	font-weight: bold;
	font-size: 17px;
	font-family: $font;
}

.total .total1sublabel {
	font-weight: normal;
	font-size: 12px;
	font-family: $font;
}

.total .total1source {
	font-weight: normal;
	font-size: 10px;
	font-family: $font;
	color: #787878;
}

.total .total2 {
	// background-color: #333333;
	color: #404040;
	// border: 2px solid #FFF;
	text-align: right;
	padding: 1px 8px;
	font-weight: 700;
	font-family: $font;
	font-size: 40px;
}

.total .total2label {
	font-weight: bold;
	font-size: 15px;
	font-family: $font;
}

.total .total2sublabel {
	font-weight: normal;
	font-size: 12px;
	font-family: $font;
}

#millions {
	font-size: 20px;
}

.legend {
	background-color: rgba(255,255,255,0.5);
	width: 170px;
	padding: 4px 6px;
	text-align: left;
	float: right;
}

.legend table {
	border-spacing: 3px;
	border-collapse: separate;
}

.legend td {
	color: #000;
	text-align: left;
}

.legend .box {
	border: 1px solid grey;
	width: 30px;
	height: 18px;
	opacity: 0.5;
}

.legend .label {
	text-align: left;
	font-weight: normal;
}

.legend .box1 {
	background-color: #ffffb2;
}

.legend .box2 {
	background-color: #fecc5c;
}

.legend .box3 {
	background-color: #fd8d3c;
}

.legend .box4 {
	background-color: #f03b20;
}

.legend .box5 {
	background-color: #bd0026;
}

.legend .box6 {
	background-color: #FFF;
}

.mTitle {
	font-size: 12px;
	font-weight: bold;
}

.mSubTitle1,
.mSubTitle2 {
	font-weight: normal;
	fill: grey;
	font-size: 10px;
}

.mFigure1,
.mFigure2 {
	font-weight: bold;
	font-size: 11px;
}

#districtMouse {
	font-size: 12px;
	background-color: rgba(255,255,255,0.8);
	width: 130px;
	padding: 4px 6px;
	opacity: 1;
	display: none;
 // float: right;
 text-align: left !important;
}

#districtMouse .dTitle{
	color: grey;
	font-size: 11px;
	margin-top: 6px;
}

#districtMouse #dBox {
	background-color: red;
	opacity: 1;
	width: 3px;
}

#districtMouse #dSeverityLabel {
	font-size: 12px;
	padding-left: 3px;
}

#kM {
	display: none;
}

#killedMouse {
	font-size: 12px;
	background-color: rgba(255,255,255,0.8);
	width: 130px;
	padding: 4px 6px;
	opacity: 1;
 // display: none;
 // float: right;
 text-align: left !important;
}

#killedMouse .title1,
#killedMouse .title2 {
	color: grey;
	font-size: 11px;
	margin-top: 6px;
}

#killedMouse #colorLabel1,
#killedMouse #colorLabel2
{
	background-color: red;
	opacity: 1;
	width: 3px;
}

#killedMouse #colorLabel1Value,
#killedMouse #colorLabel2Value {
	font-size: 11px;
	padding-left: 5px;
}

#popM {
	display: none;
}

#popMouse {
	font-size: 12px;
	background-color: rgba(255,255,255,0.8);
	width: 130px;
	padding: 4px 6px;
	opacity: 1;
 // display: none;
 // float: right;
 text-align: left !important;
}

#popMouse .title1,
#popMouse .title2 {
	color: grey;
	font-size: 11px;
	margin-top: 6px;
}

#popMouse #colorLabel1,
#popMouse #colorLabel2
{
	background-color: #FFF;
	opacity: 1;
	width: 3px;
}

#popMouse #colorLabel1Value,
#popMouse #colorLabel2Value {
	font-size: 11px;
	padding-left: 5px;
}

#bubbleTooltip {
	font-size: 12px;
	background-color: rgba(255,255,255,0.8);
	width: 130px;
	padding: 4px 6px;
	opacity: 1;
	display: none;
 // float: right;
 text-align: left !important;
 z-index: 10005;
}

#bubbleTooltip .bubbleTooltipMag{
	color: grey;
	font-size: 11px;
	margin-top: 6px;
}


.container { display: none}

#header {
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: $color1;
	color: $color1text;
	width: 100%;
	font-size: 28px; 
	height: 43px;
	padding-left: 10px;
	font-weight: bold;
	border-bottom: 2px solid $color2;
}

.frame {
	display: none;
	opacity: 0;
}

.frame1 {
	display: block;
	opacity: 1;
}

#loader {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #FFF;
	color: #000;
	z-index: 100000;
}

#buttonLeft,
#buttonRight {
	cursor: pointer;
}


#loaderContent0,
#loaderContent1 {
	text-align: center;
	position: relative;
	top: 45%;
	font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    color: #0e78be;
	// font-weight: 100;
}

.districtMouse {
	cursor: pointer;
}

.vdc {
	cursor: pointer;
}

.buttons { position: absolute; top: 6px; z-index: 1000; right: 6px; margin-left: 10px;}

#box1, #box2, #box3, #columnChart, #lineChart {
	height: 300px;
	width: 300px;
	border: 1px solid grey;
	margin: 10px;
	position: absolute;
	top: 1000px;
}

#poptooltip {
	-webkit-box-shadow: 10px 10px 38px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 38px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 38px 0px rgba(0,0,0,0.75);
}

.col, .destroyed { cursor: pointer;}

#columnChart {
	top: 0px;
	position: absolute;
	border: none;
	width: 500px;
	height: 230px;
	background-color: rgba(255,255,255,0.7);
}

#interactiveLink {
	opacity: 0;
}

#printDate {
	opacity: 0;
}

// #leftCol {
// 	top: 0px;
// 	position: absolute;
// 	border: none;
// 	width: 40%;
// 	height: 92%;
// 	overflow-y: auto;
// 	background-color: $color6;
// 	padding: 5px 20px;
// 	margin-top: 43px;
// }

pre {
	padding: 3px 5px;
	border: none;
		font-family: monospace, monospace !important;
	font-size: 13px !important;
	background-color: #f8f8f8 !important;
	overflow: auto;
	tab-size: 4;
	word-wrap: normal;
}



kbd {
    background-color: #d14;
    color: #FFF;
    padding: 1px 3px;
    border-radius: 3px;
    font-size: 0.9em;
}

var {
    color: #d14;
    background-color: #FAFAFA;
    padding: 1px 3px;
    border-radius: 3px;
    font-size: 0.9em;
}

#columnChart .title {
	position: absolute;
	top: 5px;
	left: 10px;
}

#lineChart {
	top: 300px;
	position: absolute;
	border: none;
	width: 500px;
	height: 230px;
	background-color: rgba(255,255,255,0.7);
}

#lineChart .title {
	position: absolute;
	top: 5px;
	left: 10px;
}

#pieChart {
	top: 600px;
	position: absolute;
	border: none;
	width: 200px;
	height: 150px;
	background-color: rgba(255,255,255,0.7);
}

#pieChart .title {
	position: absolute;
	top: -15px;
	left: 10px;
}




.mapbubble,
.chartbubble {
	cursor: pointer;
}

#SectorChart {
	-webkit-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;
}

#SectorChart path {
	fill: #A6A6A6 !important;
}

#SectorChart text {
	opacity: 0.5 !important;
}

#SectorChart .selected path {
	fill: #2971B7 !important;
}

#SectorChart .selected text {
	opacity: 1 !important;
}

#SectorTitle #SelectAll,
#SectorChart #button,
#SeverityButtons #button,
#Severity #SelectAll,
.district,
#MapTitle #SelectAll,
#resetFilters {
	cursor: pointer;
}


//**************************
// STANDARD STYLES
//**************************

.axis {
	font: 10px sans-serif;
}

.axis .yAxisLabel {
	font: 12px sans-serif;
	font-weight: bold;
}

.xgrid .tick {
	stroke: #767676;
	stroke-opacity: 0.8;
}

.grid .tick {
	stroke: lightgrey;
	stroke-opacity: 0.6;
}

.grid path {
	stroke-width: 0;
}

.yAxis path, .yAxis line {
	display: none;
}

// MAP

.coordinatesTooltip {
	position: absolute;
	top: 10px;
	right: 45px;
	color: grey;
	font-size: 10px;
	display: none !important;
}

#coordinatesTooltip span {
	font-weight: bold;
}
// COLUMN CHART

.columnChart .xAxis .tick line {
	display: none;
}

.columnChart .axis path,

.columnChart .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.columnChart .xAxis path {
  // display: none;
}





.columnChart .dataLabel {
	font: 11px sans-serif;
	font-weight: bold;
}

.bar {
	// cursor: pointer;
}

// LINE CHART

.lineChart .axis path,
.lineChart .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.lineChart .x.axis path {
	display: none;
}

.lineChart .line {
	fill: none;
	stroke: steelblue;
	stroke-width: 1.5px;
}

// MAP

.zoomBox { 
	position: absolute; 
	top: 60px;
	right: 18px;
	z-index: 1000;
}

.zoom {
	width: 30px;
	height: 30px;
	background: url('../images/sprites.png');
	background-size: 170px;
	cursor: pointer;
}
.zoomIn {
	background-position: -7px -8px;
}

.zoomOut {
	background-position: -42px -8px;
}

.zoomIn:hover {
	background-position: -7px -42px;
}

.zoomOut:hover {
	background-position: -42px -42px;
}

.zoomIn.disabled {
	background-position: -7px -77px;
}

.zoomOut.disabled {
	background-position: -42px -77px;
}

// bootstrap overrides

.navbar-brand {
	border-right: 1px solid #009a93;
}

.navbar {
	background-color: #00b5ad;
}

.navbar a {
	color: #fff;
}

.navbar li.active {
	background-color: grey;
}

// .sliderText1 line,
// .sliderText path {
//   fill: none;
//   stroke: #000;
// }



